@model List<Test.Mvc.Models.PersonModel>
@{
    ViewBag.Title = "Custom Column Template";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Custom Column Template</h3>
    </div>
    <div class="panel-body panel-grid">
        @(Html.Talon().Grid(Model).Name("people")
            .Columns(c =>
            {
                c.Bound(m => m.ID);
                c.Bound(m => m.Name);
                c.Bound(m => m.Country);
                c.Bound(m => m.Phone);
                c.Custom(@<a href="mailto:{Email}">{Email}</a>).Title("Email");
            })
        )
    </div>
</div>

<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Markup</h3>
        </div>
        <div class="panel-body">
<pre style="font-family:Consolas;font-size:13;color:black;background:white;"><span style="background:yellow;">@@(</span>Html.Talon().Grid(Model).Name(<span style="color:#a31515;">"people"</span>)
&nbsp;&nbsp;&nbsp;&nbsp;.Columns(c&nbsp;=&gt;
&nbsp;&nbsp;&nbsp;&nbsp;{
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c.Bound(m&nbsp;=&gt;&nbsp;m.ID);
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c.Bound(m&nbsp;=&gt;&nbsp;m.Name);
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c.Bound(m&nbsp;=&gt;&nbsp;m.Country);
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c.Bound(m&nbsp;=&gt;&nbsp;m.Phone);
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c.Custom(<span style="background:yellow;">@@</span><span style="color:blue;">&lt;</span><span style="color:maroon;">a</span>&nbsp;<span style="color:red;">href</span><span style="color:blue;">=</span><span style="color:blue;">"mailto:{Email}"</span><span style="color:blue;">&gt;</span>{Email}<span style="color:blue;">&lt;/</span><span style="color:maroon;">a</span><span style="color:blue;">&gt;</span>).Title(<span style="color:#a31515;">"Email"</span>);
&nbsp;&nbsp;&nbsp;&nbsp;})
<span style="background:yellow;">)</span></pre>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Notes</h3>
        </div>
        <div class="panel-body">
            <p>
                This also demonstrates .Title(string title) which can be used on all column types.
            </p>
        </div>
    </div>
</div>