@model List<Test.Mvc.Models.PersonModel>
@{
    ViewBag.Title = "Index";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Basic Setup</h3>
    </div>
    <div class="panel-body panel-grid">
        @(Html.Talon().Grid(Model).Name("people")
            .Columns(c =>
            {
                c.Bound(m => m.ID);
                c.Bound(m => m.Name);
                c.Bound(m => m.Country);
                c.Bound(m => m.Phone);
                c.Bound(m => m.Email);
            })
        )
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Markup</h3>
    </div>
    <div class="panel-body">
<pre style="font-family:Consolas;font-size:13;color:black;background:white;" bgcolor="white"><span style="background:yellow; ">@@(</span>Html.Talon().Grid(Model).Name(<span style="color:#a31515; ">&quot;people&quot;</span>)
  &nbsp;&nbsp;&nbsp;&nbsp;.Columns(c&nbsp;=&gt;
  &nbsp;&nbsp;&nbsp;&nbsp;{
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c.Bound(m&nbsp;=&gt;&nbsp;m.ID);
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c.Bound(m&nbsp;=&gt;&nbsp;m.Name);
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c.Bound(m&nbsp;=&gt;&nbsp;m.Country);
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c.Bound(m&nbsp;=&gt;&nbsp;m.Phone);
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c.Bound(m&nbsp;=&gt;&nbsp;m.Email);
  &nbsp;&nbsp;&nbsp;&nbsp;})
<span style="background:yellow; ">)</span></pre>
    </div>
</div>
