@model List<Test.Mvc.Models.PersonModel>
@{
    ViewBag.Title = "Page Sort";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Paging and Sorting</h3>
    </div>
    <div class="panel-body panel-grid">
        @(Html.Talon().Grid(Model).Name("people")
            .Columns(c =>
            {
                c.Bound(m => m.ID);
                c.Bound(m => m.Name).Order(2, SortDir.desc);
                c.Bound(m => m.Country).Order(1);
                c.Bound(m => m.Phone).Sortable(false);
                c.Bound(m => m.Email);
            })
            .PageSize(5)
            .PageSizes(new List<int> { 5, 10, 25, -1 })
        )
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Markup</h3>
    </div>
    <div class="panel-body">
<pre style="font-family:Consolas;font-size:13;color:black;background:white;"><span style="background:yellow;">@@(</span>Html.Talon().Grid(Model).Name(<span style="color:#a31515;">"people"</span>)
&nbsp;&nbsp;&nbsp;&nbsp;.Columns(c&nbsp;=&gt;
&nbsp;&nbsp;&nbsp;&nbsp;{
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c.Bound(m&nbsp;=&gt;&nbsp;m.ID);
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c.Bound(m&nbsp;=&gt;&nbsp;m.Name).Order(2,&nbsp;<span style="color:#2b91af;">SortDir</span>.desc);
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c.Bound(m&nbsp;=&gt;&nbsp;m.Country).Order(1);
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c.Bound(m&nbsp;=&gt;&nbsp;m.Phone).Sortable(<span style="color:blue;">false</span>);
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c.Bound(m&nbsp;=&gt;&nbsp;m.Email);
&nbsp;&nbsp;&nbsp;&nbsp;})
&nbsp;&nbsp;&nbsp;&nbsp;.PageSize(5)
&nbsp;&nbsp;&nbsp;&nbsp;.PageSizes(<span style="color:blue;">new</span>&nbsp;<span style="color:#2b91af;">List</span>&lt;<span style="color:blue;">int</span>&gt;&nbsp;{&nbsp;5,&nbsp;10,&nbsp;25,&nbsp;-1&nbsp;})
<span style="background:yellow;">)</span></pre>
    </div>
</div>